* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #FFA17F;
    background: -webkit-linear-gradient(to left, #31cd07, #ffe921);
    background: linear-gradient(to left, #31cd07, #ffe921);
}

input {
    height: 50px;
    width: calc(100% - 60%);
    font-size: 23px;
    border-radius: 30px;
    padding-left: 18px;
    padding-right: 6px;
}

img {
    width: 53px;
    margin-left: 12px;
}

img:hover {
    border: 1.5px dashed blue;
}

.search_sp {
    display: none;
}